:root {
  --color: #ec3030;
}

html {
  box-sizing: border-box;
  font-family: "Anybody", cursive;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffe9cf;
}

.header {
  text-align: left;
  background-color: var(--color);
  width: 100%;
  padding: 0.625rem;
  display: flex;
  align-items: center;
}

.header .title {
  color: white;
}

.header figure .pokedex-icon {
  width: 4vw;
  margin-right: 5px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  height: 66vh;
}

.main .pokemon section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.main .pokemon section .type-icon {
  width: 3rem;
}

.main .pokemon section .pokemon-name {
  padding: 1.5rem;
}

.main .pokemon figure .pokemon-image {
  width: 280px;
}

.pokemon-statics {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  gap: 1.5rem;
  width: 20rem;
  height: 80%;
  padding: 3rem 2rem;
}

.pokemon-statics .statics {
  text-align: center;
  width: 42%;
}

.pokemon-statics .statics .statics-subtitle {
  color: var(--color);
  font-size: 1.5rem;
}

.pokemon-statics .statics .statics-text {
  font-size: 1.5rem;
}

footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 25%;
  flex-wrap: wrap;
  padding-left: 25%;
  padding: 40px 10vw;
}

footer figure {
  display: flex;
  gap: 2.5rem;
  padding: 2px;
}

footer figure img {
  width: 5.5rem;
  border: 1px solid var(--color);
  padding: 0.8rem;
  border-radius: 0.7rem;
}

footer figure img:hover {
  cursor: pointer;
  background-color: #f7c7c7;
}

@media screen and (max-width: 414px){
  .header {
    justify-content: center;
  }

  .header figure .pokedex-icon {
    width: 12vw;
  }

  .main {
    padding: 22rem 1.5rem 2.5rem 1.5rem;
    height: 100%;
    margin-bottom: 2rem;
    position: relative;
  }

  .main .pokemon section {
    margin-bottom: 1rem;
  }

  .pokemon {
    position: absolute;
    top: 40px;
  }

  .pokemon-statics {
    padding: 5rem 2.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }

  .pokemon-statics .statics {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
  }

  .pokemon-statics .statics .statics-text{
    text-align: left;
    width: 35%;
  }

  
  footer {
    flex-direction: column;
  }

  .footer-subtitle {
    margin-bottom: 1.5rem;
  }

  footer figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}